version: '3.8'

services:
  vue-app:
    build: .
    container_name: app1
    ports:
      - "8081:80" # Expose App 1 on port 8081 for internal use
    environment:
      - PORT=80
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
